@model IEnumerable<RSSref.Models.MainCollection>
@{
    ViewBag.Title = "Home Page";
}

<br />



<h3>Коллекции:</h3>

<br />


<p></p>
@foreach (var item in Model)
{
    <div class="btn-group drodown">
        <button class="col btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @item.Name
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var res in item.MainResources)
            {
                <div class="col dropdown-item">
                    @Html.ActionLink(@res.ResourceName, "Resource", new { RSSURL = @res.URL, RSSName = @res.ResourceName.ToString() }, new { @class = "dropdown-item" })
                </div>
            }
        </div>

    </div>
    <p></p>
}
