<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            @Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Добавить раздел", "AddCollection")
            @Html.ActionLink("Добавить ресурс", "AddResource")
            @Html.Partial("_LoginPartial")
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @RenderSection("Scripts", required: false)

    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</body>
</html>